<div class="contenedor">
  <div class="lado-izquierdo">
    <div class="logo">
      <img src="assets/logo.png" alt="Logo SegurApp" />
      <h1>SegurApp</h1>
    </div>
    <p class="descripcion-principal">
      Protege tu comunidad con SegurApp<br />
      ¡Reporta, colabora y haz la diferencia en tu ciudad!
    </p>
    <p class="descripcion-secundaria">
      Conéctate con tu comunidad y mejora la seguridad. Reporta incidentes,
      recibe alertas y colabora por un entorno más seguro. ¡Actúa con SegurApp!
    </p>
  </div>

  <div class="lado-derecho">
    <div class="fondo-mapa">
      <div class="bienvenida-titulo">Bienvenido</div>
      <div class="cuadro-login">
        <h2>Accede a tu cuenta</h2>
        <button class="btn" routerLink="/registro">Regístrate</button>
        <button class="btn" routerLink="/login">Inicia sesión</button>
      </div>
    </div>
  </div>
</div>
